# Core ML & vision

pdf2image
Pillow
numpy

wheel
ninja
layoutparser 
paddlepaddle
ultralytics


streamlit
pymupdf           # for fitz
pdfminer.six      # for vector text extraction
layoutparser[detectron2]  # core LayoutParser + Detectron2 backend
torch             # required by Detectron2
torchvision       # required by Detectron2
opencv-python     # image I/O & processing




#layoutparser>=0.3.4
pdfminer.six>=20221105
python-dotenv>=1.0.0
crewai
langchain
langchain-openai
langchain-community
openai
requests
pandas
altair
duckduckgo-search>=4.1.0

detectron2
opencv-python
requests
pathlib