# Core ML & vision
torch>=1.10.0
torchvision>=0.11.0
pdf2image
Pillow
numpy

wheel
ninja
layoutparser 
paddlepaddle
ultralytics


streamlit
pymupdf           # for fitz
pdfminer.six      # for vector text extraction
layoutparser[detectron2]  # core LayoutParser + Detectron2 backend
torch             # required by Detectron2
torchvision       # required by Detectron2
opencv-python     # image I/O & processing



# (Later, you’ll add:)
# - transformers         # for SciBERT
# - sentencepiece        # if needed by your summarizer
# - requests             # for GitHub/web scraping
# - regex                # if you want the PyPI regex library


# to install detectron
#  pip install -U \
#   "git+https://github.com/facebookresearch/detectron2.git@main"


